@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-image: url('../img/background1.svg');
    background-attachment: fixed;
    background-size: cover;
}

p {
    color: white;
    text-align: center;
}

.search {
    display: flex;
    margin-top: 2em;
    justify-content: center;
}

.search-box {
    height: 22px;
    width: 520px;
    border: none;
    padding: 5px;
}

.search-box:focus {
    outline: 2px solid #555;
}

.go {
    padding: 6px;
    background-color: black;
    color: white;
}

.icon {
    position: absolute;
    top: 42%;
    left: 10px;
}

.icon:visited {
    color: black;
}

.icon:hover {
    color: #E43F5A;
}

.colors {
    position: absolute;
    top: 48%;
    left: 10px;
}

.colors:visited {
    color: black;
}

.colors:hover {
    color: #E43F5A;
}

.card {
    background-color: #162447;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 2em auto;
}

.not-car {
    width: 15%;
    background-color: black;
    opacity: 0.7;
    margin: 2em auto;
    border: 5px dashed #FFAA0F;
}

.err-msg {
    padding: 2em;
}

.picture {
    padding: 3em 0;
    border-radius: 30%;
    width: 85%;
    height: auto;
}

.stats {
    background-color: #1F4068;
    border: 3px solid;
    border-color: #E43F5A;
    margin-bottom: 3em;
    padding: 2em 3em;
    border-radius: 20%;
    width: 60%;
}

.name, .year, .fuel, .km {
    margin-bottom: 1.2em;
}

@media (max-width: 768px) {
    .search-box {
        width: 300px;
    }
}

@media (max-width: 1086px) {
    .not-car {
        width: 40%;
    }
}

@media (max-width: 550px) {
    .card {
        width: 350px;
    }
    
    .icon {
        display: none;
    }

    .colors {
        display: none;
    }
}  